.node-red/.flows_fluorine.json.backup
[{"id":"d3031d1c.e9ffa8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3f57d8c8.180dd8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f2108288.8417f","type":"tab","label":"count","disabled":false,"info":""},{"id":"7086bddc.029724","type":"vscp-tcp-config-host","z":"","name":"Pi11","host":"192.168.1.44","port":"9598","timeout":"10000","interface":"","keepalive":"5000"},{"id":"7035a605.025848","type":"vscp-tcp-config-filter","z":"","name":"No filter","filterPriority":"0","maskPriority":"0","filterClass":"0","maskClass":"0","filterType":"0","maskType":"0","filterGuid":"00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00","maskGuid":"00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"},{"id":"e81eb9d8.72fa58","type":"vscp-tcp-config-host","z":"","name":"Localhost","host":"127.0.0.1","port":"9598","timeout":"10000","interface":"","keepalive":"4000"},{"id":"982ef686.5bcd6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c40e8787.29ab58","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4ebbbed5.08fe5","type":"ui_group","z":"","name":"Main","tab":"c40e8787.29ab58","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5257ce1.cd34b8","type":"vscp-tcp-config-host","z":"","name":"pi9","host":"192.168.1.34","port":"9598","timeout":"10000","interface":"","keepalive":""},{"id":"5609e9ea.e80f08","type":"vscp-tcp-config-filter","z":"","name":"Counts","filterPriority":"0x00","maskPriority":"0x00","filterClass":"10","maskClass":"0xffff","filterType":"0x0001","maskType":"0xffff","filterGuid":"00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00","maskGuid":"00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"},{"id":"e5413350.4990b8","type":"vscp-tcp-in","z":"d3031d1c.e9ffa8","d":true,"name":"pi11","host":"7086bddc.029724","username":"admin","password":"__PWRD__","filter":"7035a605.025848","keyctx":"test","x":110,"y":320,"wires":[["5eee7c0.c0a4e04","675d7234.54a7f4"]]},{"id":"5eee7c0.c0a4e04","type":"debug","z":"d3031d1c.e9ffa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":320,"wires":[]},{"id":"38684d25.86237a","type":"inject","z":"d3031d1c.e9ffa8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":0,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"-\",\"vscpData\":[15,14,13,12,11,10,9,8,7,6,5,4,3,2,0,0,1,35]}","payloadType":"json","x":130,"y":80,"wires":[[]]},{"id":"eba91807.1e0948","type":"ui_gauge","z":"3f57d8c8.180dd8","name":"test gauge","group":"4ebbbed5.08fe5","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":180,"y":100,"wires":[]},{"id":"675d7234.54a7f4","type":"event2value","z":"d3031d1c.e9ffa8","btransparent":false,"bvalue2payload":true,"name":"","x":310,"y":420,"wires":[["77c83282.be360c"]]},{"id":"77c83282.be360c","type":"debug","z":"d3031d1c.e9ffa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":420,"wires":[]},{"id":"ae3cc981.b5517","type":"vscp-tcp-in","z":"d3031d1c.e9ffa8","d":true,"name":"Localhost","host":"7086bddc.029724","username":"","password":"","filter":"7035a605.025848","keyctx":"test","x":320,"y":180,"wires":[["d3b785c0.6d453"]]},{"id":"d3b785c0.6d453","type":"debug","z":"d3031d1c.e9ffa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":180,"wires":[]},{"id":"e22fa497.c11088","type":"vscp-tcp-out","z":"d3031d1c.e9ffa8","d":true,"name":"Pi11","host":"7086bddc.029724","username":"admin","password":"__PWRD__","keyctx":"test","x":510,"y":60,"wires":[]},{"id":"ee6ecc68.e61f8","type":"inject","z":"d3031d1c.e9ffa8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":0,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"-\",\"vscpData\":[15,14,13,12,11,10,9,8,7,6,5,4,3,2,0,0,1,35]}","payloadType":"json","x":330,"y":60,"wires":[["e22fa497.c11088"]]},{"id":"614c4966.b2345","type":"comment","z":"d3031d1c.e9ffa8","name":"Send VSCP events to remote host","info":"","x":400,"y":20,"wires":[]},{"id":"bd65c7f8.a7592","type":"comment","z":"d3031d1c.e9ffa8","name":"Receive VSCP events from remote host","info":"","x":410,"y":140,"wires":[]},{"id":"78cffef3.82302","type":"vscp-tcp-in","z":"3f57d8c8.180dd8","d":true,"name":"Localhost","host":"7086bddc.029724","username":"","password":"","filter":"7035a605.025848","keyctx":"test","x":160,"y":400,"wires":[["7d02db36.380034"]]},{"id":"7d02db36.380034","type":"debug","z":"3f57d8c8.180dd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":400,"wires":[]},{"id":"897cd323.b070b8","type":"vscp-tcp-out","z":"3f57d8c8.180dd8","d":true,"name":"Localhost","host":"7086bddc.029724","username":"","password":"","keyctx":"test","x":360,"y":280,"wires":[]},{"id":"640be755.491548","type":"inject","z":"3f57d8c8.180dd8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":0,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"-\",\"vscpData\":[15,14,13,12,11,10,9,8,7,6,5,4,3,2,0,0,1,35]}","payloadType":"json","x":170,"y":280,"wires":[["897cd323.b070b8"]]},{"id":"8a12bdcf.8fbc7","type":"comment","z":"3f57d8c8.180dd8","name":"Send VSCP events to remote host","info":"","x":240,"y":240,"wires":[]},{"id":"77644932.b3983","type":"comment","z":"3f57d8c8.180dd8","name":"Receive VSCP events from remote host","info":"","x":250,"y":360,"wires":[]},{"id":"8ce8fd68.6f24a","type":"vscp-tcp-in","z":"f2108288.8417f","d":true,"name":"pi6","host":"f5257ce1.cd34b8","username":"admin","password":"__PWRD__","filter":"5609e9ea.e80f08","keyctx":"pi6a","x":110,"y":80,"wires":[["81d8cd1a.e22ad"]]},{"id":"81d8cd1a.e22ad","type":"debug","z":"f2108288.8417f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"dc7b7532.d2ad4","type":"inject","z":"f2108288.8417f","name":"test bigint","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"test\":123n}","payloadType":"jsonata","x":130,"y":280,"wires":[["9eace102.d48208"]]},{"id":"9eace102.d48208","type":"debug","z":"f2108288.8417f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":280,"wires":[]}]